h1, h3 {
    text-align: center;
}

body {
    font-family: sans-serif;
    margin:0 auto;
    max-width: 75em;
}


table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
